" ========= Basic =========

let mapleader = " "

" ========= Navigation =========

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch

" match pairs
set mps+=<:>

" 4 lines above/below cursor when scrolling
set scrolloff=4

" ========= Editing =========

" Fast saving
nnoremap <leader>w :w!<cr>

" Always ways copy the word and only the word (without potential space)
nnoremap ye yiw

" Copy from current position to end of line
nnoremap Y y$

" Copy to clipboard
nnoremap <leader>y "+y
nnoremap <leader>Y "+Y

" Substitute current word with content in " register
nnoremap <Leader>v viw"0p
vnoremap <Leader>v    "0p

" Plugin: surround
set surround
